# Byte-compiled
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# IDE
.vscode/
.idea/

# Docker
.dockerignore

# OS
Thumbs.db
.DS_Store

# ROS build artifacts (if built locally)
build/
devel/
logs/
